<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	
	<div>123123</div>

	<% albums.forEach(function (album) { %>
		
		<div>Title: <%= album.title %></div>

	<% }) %>

</body>
</html>