.layui-layer-warning .layui-layer-title {
  background: #dd4b39;
  color: #fff;
  border: none;
}
.layui-layer-warning .layui-layer-btn a {
  background: #dd4b39;
  border-color: #dd5339;
}

.image-list {
  list-style: none;
  margin: 0;
  padding: 10px 10px 10px 0;
}
.image-list .item-upload .item-image {
  font-size: 40px;
  font-weight: normal;
  background-color: rgba(0,0,0,0.6);
  text-align: center;
  line-height: 200px;
}
.image-list .item-upload .item-image i {
  color: #FFFFFF;
}
.image-list .item,
.image-list .item-upload {
  width: 220px;
  height: 220px;
  float: left;
  overflow: hidden;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 10px;
}
.image-list .item {
  position: relative;
}
.image-list .item-image,
.image-list .item-image img,
.image-list .item-image audio,
.image-list .item-image video {
  display: block;
  width: 100%;
  height: 100%;
  border: 1px #ddd solid;
}
.image-list .item-image audio {
  display: block;
  background-image: url("../dist/img/music.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50px 50px;
}
.image-list .item:hover .item-del{
  display: block;
}
.image-list .item-del {
  display: none;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background-color: #dd4b39;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 6;
  cursor: pointer;
}
.image-list .item-del i {
  color: #FFFFFF;
}
.choose-material {
	width: 310px;
	min-height: 310px;
	height: auto;
	border: 1px #dddddd dashed;
	position: relative;
}
.choose-material-link {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	line-height: 310px;
	background-color: #eee;
}
.choose-material #media-img {
	display: none;
	width: 100%;
	height: auto;
	position: relative;
	z-index: 9;
}
.choose-material #media-voice {
	display: none;
	width: 100%;
	position: relative;
	bottom: -276px;
	z-index: 9;
}
.choose-material #media-video {
	display: none;
	width: 100%;
	height: 310px;
	position: relative;
	z-index: 12;
}
.choose-material #media-del {
	display: none;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	background-color: #dd4b39;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 12;
	cursor: pointer;
}
.choose-material #media-del i {
	color: #FFFFFF;
}

.material-ul {
	margin-top: 10px;
}
.material-ul .material-li {
	width: 220px;
	height: 220px;
	float: left;
	overflow: hidden;
	margin-left: 10px;
	margin-bottom: 10px;
	border: 1px #ddd solid;
	position: relative;
	cursor: pointer;
}
.material-li .hover-area {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 8;
	background-color: rgba(0,0,0,0.5);
}
.material-ul .material-li:hover .hover-area {
	display: block;
}
.material-ul .material-li img{
	display: block;
	width: 100%;
	height: 100%;
}
.material-ul .material-li audio {
	display: block;
	width: 100%;
	height: 100%;
	background-image: url("../dist/img/music.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50px 50px;
}
.material-ul .material-li video {
	display: block;
	width: 100%;
	height: 100%;
}

.table video, .table img {
	max-width: 300px;
}