<div class="material-ul">
	<% if (typeof(materials) !== 'undefined' && materials.length > 0) { %>
	<% materials.forEach(function (mat) { %>
	<div class="material-li" data-id="<%= mat._id %>" data-uri="<%= mat.uri %>">
		<video controls src="<%= mat.uri %>"></video>
		<div class="hover-area"></div>
	</div>
	<% }) %>
	<% } %>

</div>

<!-- jQuery 2.2.3 -->
<script src="/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>
	$(function () {
		var index = parent.layer.getFrameIndex(window.name);
		if (index) {
			$('.material-li').click(function (e) {
				e.stopPropagation();
				e.preventDefault();

				var _self = $(this);
				var _id = _self.attr('data-id');
				var uri = _self.attr('data-uri');
				parent.$('#content').val(_id);
				parent.$('#media-video').show();
				parent.$('#media-video').attr('src', uri);
				parent.$('#media-del').show();
				parent.layer.close(index);
			})
		}
	})
</script>
