<div class="content">
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">回复图片</h3>
    </div>
    <form id="form">
      <div class="box-body">
        <div class="form-group">
          <label for="keyword">关键词<span class="text-green">(多个关键词可以用空格分开, 如"高富帅 白富美")</span><span class="text-red">*</span></label>
          <input type="text" class="form-control" id="keyword" placeholder="请输入关键词." value="{{response.keyword}}">
        </div>
        <div class="form-group">
	        <label for="">素材</label>
	        <div class="choose-material">
		        <input id="content" type="hidden">
		        <a class="choose-material-link" href="javascript:;">从素材库选择图片</a>
		        <img id="media-img" src="" alt="">
		        <div id="media-del" title="删除"><i class="fa fa-remove"></i></div>
	        </div>
        </div>
      </div>
      <div class="box-footer">
        <button class="btn btn-primary" type="submit">提交</button>
      </div>
    </form>
    <div class="overlay" style="display: none;">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
  </div>
</div>

{{#contentFor "script"}}
<script>
  $(function () {
  	$('.choose-material-link').click(function (e) {
		  e.stopPropagation();
		  e.preventDefault();

		  layer.open({
		  	type: 2,
			  title: '选择图片',
			  shadeClose: false,
			  area: ['70%', '80%'],
			  content: '/material/list?type=image',
			  end: function () {
			  }
		  })
	  })

	  $('#media-del').click(function (e) {
		  e.stopPropagation();
		  e.preventDefault();

		  $('#content').val('');
		  $('#media-img').hide();
		  $('#media-img').attr('src', '');
		  $(this).hide();
	  })


    $('#form').submit(function (e) {
      e.preventDefault();
      $('.overlay').show();

      var _self = $(this);
      var type = Util.QueryString('type');
      var keyword = _self.find('#keyword').val();
      var content = _self.find('#content').val();
      if (!keyword.length > 0) {
        layer.alert('请输入关键字!', {skin: 'layui-layer-warning'});
        $('.overlay').hide();
        return false;
      }
      if (!content.length > 0) {
        layer.alert('请输选择素材!', {skin: 'layui-layer-warning'});
        $('.overlay').hide();
        return false;
      }

      keyword = keyword.trim().split(' ');
      _.remove(keyword, function (n) {return n == ''}); // 删除中间空格

      $.ajax({
        type: 'POST',
        url: '/response/auto/edit',
        data: {
          type: type,
          keyword: keyword,
          content: content,
          enable: true
        },
        success: function (data) {
          console.log(data);
          if (data.success) {
            layer.alert('提交成功!', {skin: 'layui-layer-molv', closeBtn: 0}, function () {
              window.location.href = '/response/auto?type=' + type;
            })
          }
        },
        error: function (err) {
          console.log(err);
        }
      })
    })
  })
</script>
{{/contentFor}}