<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu">
      <li class="header">导航</li>
      <li class="treeview">
        <a href="/index">
          <i class="fa fa-dashboard"></i> <span>首页</span>
        </a>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-files-o"></i>
          <span>素材管理</span>
          <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="/material/forever?type=image"><i class="fa fa-circle-o"></i> 永久素材</a>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-files-o"></i>
          <span>回复管理</span>
          <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="/response/welcome"><i class="fa fa-circle-o"></i> 欢迎语设置</a>
          </li>
          <li>
            <a href="/response/auto"><i class="fa fa-circle-o"></i> 自动回复</a>
          </li>
        </ul>
      </li>
      <li class="treeview">
        <a href="/wechat/user">
          <i class="fa fa-files-o"></i>
          <span>微信用户管理</span>
        </a>
      </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-files-o"></i>
          <span>系统设置</span>
          <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
        </a>
        <ul class="treeview-menu">
          <li>
            <a href="/admin/user/{{_loginUser._id}}"><i class="fa fa-circle-o"></i> 个人资料</a>
          </li>
        </ul>
      </li>
    </ul>
  </section>
</aside>