<div class="alert alert-warning alert-dismissible">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <h4><i class="icon fa fa-warning"></i>
	  <%- typeof(warningTitle) !== 'undefined' ? warningTitle : '提醒!' %>
  </h4>
	<%- typeof(warningMessage) !== 'undefined' ? warningMessage : '' %>
</div>