<%- include('../../layouts/header') %>

<div class="content">
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">上传语音</h3>
    </div>
    <form id="form">
      <div class="box-body">
	      <%- include('../../partials/warning', {warningMessage: '语音大小不超过2M,播放长度不超过60秒,支持mp3/wma/wav/amr格式.'}) %>
        <div class="form-group">
          <label for="file">素材名称<span class="text-green">(0-21)</span><span class="text-red">*</span></label>
          <input type="text" class="form-control" id="name" placeholder="请输入素材名称.">
        </div>
        <div class="form-group">
          <label for="file">上传文件<span class="text-green">(最大2M)</span><span class="text-red">*</span></label>
          <input type="file" class="form-control" id="file" placeholder="请选择上传文件.">
        </div>
      </div>
      <div class="box-footer">
        <button class="btn btn-primary" type="submit">提交</button>
      </div>
    </form>
    <div class="overlay" style="display: none;">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
  </div>
</div>

<%- include('../../layouts/footer') %>

<script>
  $(function () {
    $('#form').submit(function (e) {
      e.preventDefault();
      $('.overlay').show();

      var _self = $(this);
      var name = _self.find('input#name').val();
      var file = _self.find('input#file').val().toLowerCase();
      if (name.length > 21) {
        layer.alert('名称字数过长!', {skin: 'layui-layer-warning'});
        $('.overlay').hide();
        return false;
      }
      if (!/.*\.(mp3|wma|wav|amr)$/.test(file)) {
        layer.alert('语音格式不正确, 请重新选择!', {skin: 'layui-layer-warning'});
        $('.overlay').hide();
        return false;
      }
      var imgUploadMaxSize = 2048; // 允许上传语音最大为2048KB
      var fileSize = window.Util.getFileSize('file'); // KB
      if (fileSize > imgUploadMaxSize) {
        layer.alert('上传语音文件太大, 请压缩后再上传!', {skin: 'layui-layer-warning'});
        $('.overlay').hide();
        return false;
      }
      var formData = new FormData();
      var fileInputEle = document.getElementById('file');
      formData.append('media', fileInputEle.files[0]);
      formData.append('name', name);
      
      $.ajax({
        type: 'POST',
        url: '/admin/material/forever/upload?type=voice',
        data: formData,
        processData: false,
        contentType: false,
        success: function (data) {
          if (data) {
            layer.alert('上传成功!', {skin: 'layui-layer-molv', closeBtn: 0}, function () {
              window.location.href = '/admin/material/forever?type=voice';
            })
          }
        },
        error: function (err) {

        }
      })

    })
  })
</script>